<!DOCTYPE html>
<html ng-app="bancoSenha">
<head>
    <title>My AngularJS App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
    <style>
        .material-symbols-outlined {
            font-variation-settings: 'FILL' 0,
            'wght' 400,
            'GRAD' 0,
            'opsz' 24
        }
    </style>
</head>
<body>
<div ng-controller="ControllerBancoSenha">
    <h1>Banco de Senhas</h1>

    <input type="text" ng-model="nome" placeholder="Username">
    <input type="password" ng-model="senha" placeholder="Password">
    <button ng-click="addNewUser()">Adicionar</button>

    <ul><li>Nome - Forca Senha - Nivel</li>
        <li ng-repeat="item in items">
            {{ item.nome }} - {{ item.forcaSenha }}% - {{item.nivelHierarquia}}
            <a ng-click="removeUser(item)">
                <span class="material-symbols-outlined">
                close
                </span>
            </a>

        </li>
    </ul>
</div>

<script>
    angular.module('bancoSenha', [])
        .controller('ControllerBancoSenha', function($scope, $http){
            $scope.items = [];

            $scope.addNewUser = function () {
                if ($scope.nome && $scope.senha) {
                    let nome = $scope.nome;
                    let senha = $scope.senha;
                    let newItem = {nome, senha};
                    $http.post('http://localhost:8080/colaborador', newItem).then(function (response) {
                        console.log(response.data);
                        $scope.items.push(response.data);
                        $scope.username = '';
                        $scope.password = '';
                    })

                }
            };

            $scope.removeUser = function (item) {
                $http.delete('http://localhost:8080/colaborador/' + item.id).then(function (response) {
                    $scope.items.splice($scope.items.indexOf(item), 1);
                })
            }
            let init = function () {
                $http.get('http://localhost:8080/colaborador').then(function (response) {
                    $scope.items = response.data;
                });
            }
            init();
        });

</script>
</body>
</html>